<!DOCTYPE html>
<html class="h-full bg-gray-200" lang="en">
<head>
  <title>Core</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
  <%= vite_typescript_tag 'layout' %>
</head>
<body class="font-sans leading-none text-gray-800 antialiased">
<%- if current_user %>
<ul>
<li>
<%= link_to "SamuraiCRM", samurai.root_path %>
</li>
<li>
<%= link_to "My account", samurai.edit_user_registration_path %>
</li>
<li>
<%= link_to "Dummy", samurai.dummy_path %>
</li>
<li>
<%= link_to "Logout", samurai.destroy_user_session_path, data: { "turbo-method": :delete } %>
</li>
</ul>
<% end %>
<div class="container mx-auto">
<%= yield %>
</div>

<%= yield(:header) %>
</body>
</html>
